.btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: #EA1E63;
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 0px #B43978;
}
